<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
         <% if (locals.loggedin) { %>
            <div class="message-link-container">
                <a href="/message/" title="Go to your inbox">
                    Inbox
                    <% if (locals.unreadMessages > 0) { %><span class="message-badge"><%- unreadMessages %></span><% } %>
                </a>
            </div>
        <% } %>
        <%- include('../partials/navigation') %>
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>