<div class="message-container delete-confirmation">
  <div class="message-header">
    <h1><%- title %></h1>
  </div>

  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <p>Are you sure you want to permanently delete this message?</p>
  
  <div class="message-to-delete">
    <p><strong>Subject:</strong> <%- messageData.message_subject %></p>
    <p><strong>From:</strong> <%- messageData.account_firstname %> <%- messageData.account_lastname %></p>
  </div>

  <form action="/message/delete" method="post" class="message-actions">
    <input type="hidden" name="message_id" value="<%- messageData.message_id %>">
    <a href="/message/view/<%- messageData.message_id %>" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-danger">Yes, Delete Message</button>
  </form>
</div>